.footer {
    padding: 30px 0;
    a {
        display: inline-block;
        color: #fff;
        font-weight: bold;
        padding: 0 20px;
        :hover {
            transform: scale(1.2);
        }
    }
    .icon{
        font-size: 21px;
        text-decoration: none;
    }
}