.new1{
    sizes="(max-width: 360px) 100vw, 360px"
    width:200px;
height:auto;
float:left;
margin:auto;
display:block;
oveflov:hidden; 
}
.teks{
 width:500px;
height:auto;
float:right;
margin:auto;
display:block;
overflov:visible; 
}
